html, body, #root {
    background-color: #ffffff;
}

a {
    /*text-decoration: none;*/
    color: inherit;
}

* {
    box-sizing: border-box;
}

.app-container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}